body{
  background-color: black;
}

.Titulos{
  text-align: center;
}

h1{
  color: white;
}

h2{
  color: gray;
}

h3{
  color: white;
}

p{
  color: white;
}

img{
  border-radius: 200px;
}

.per{

  text-align: center;
}
